@import url('https://fonts.googleapis.com/css2?family=Antic+Slab&family=Roboto&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Antic Slab'
}

body {
    background-color: #A1A1AA;
}

.container {
    margin: auto 0;
    margin-top: 12rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

h1 {
    margin-bottom: 2rem;
    font-size: 4rem;
}

.number {
    font-size: 6rem;
}

.button-container {
    margin-top: 2rem;
}

button {
    padding: 0.8rem;
    border: none;
    border-radius: 5px;
    margin: 0 1rem 0 1rem;
    font-weight: bold;
    font-size: 1rem;
}

button:hover {
    cursor: pointer;
    opacity: 0.5;
}

.increase-button:hover {
    color: green;
}

.decrease-button:hover {
    color: red;
}

